mlflow
torch
torchvision
pandas
numpy
scikit-learn
pyyaml
python-dotenv
black
isort
flake8
jupyter
pynvml
tqdm
boto3
transformers
sentence-transformers
clearml
hydra-core
omegaconf
pytorch-lightning
recommenders